footer {
  position: relative;
  padding: 3rem 2rem 3rem;

  font-family: $font-body;
  color: #c4f6cc;
  background-color: #073320;
  text-align: center;

  .quote {
    margin-bottom: 2rem;
    padding-bottom: 3rem;
    border-bottom: 1px solid #22503c;
    font-size: 1.25rem;
    font-style: italic;
  }

  .portfolio {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }

  .link {
    font-size: 1em;
    line-height: 1.5em;
    color: #ffffff;
    font-weight: 700;
    text-decoration: underline;
    text-decoration-thickness: 2px;
    text-underline-offset: 3px;
  }
}
