header {
  position: relative;
  z-index: 5;
  box-shadow: 0px 1px 8px 0px rgba(1, 10, 6, 0.75);

  .banner {
    padding: 1rem;
    background-color: #e2ffbe;
    display: flex;
    justify-content: center;

    .paragraph {
      text-align: center;
      font-weight: 700;
    }
  }

  .title {
    text-align: center;
    font-family: $font-headings;
    font-size: 2em;
    font-weight: 700;
    text-transform: uppercase;
    background-color: #073320;
    color: #d8ffbe;
    padding: 0.5em;
  }

  .imageDemo {
    position: relative;
    width: 100%;
    height: 100px;
    background: url(#{$IMG_PATH} + "banner.jpg") center center/cover no-repeat;
  }
}
