---
import SiteLayout from "@layouts/SiteLayout.astro";
import { SITE_TITLE, SIDEBAR_SECTIONS } from "@/consts.ts";
---

<SiteLayout
  title={`Scroll to Top | ${SITE_TITLE}`}
  currentSection={SIDEBAR_SECTIONS.FEATURES}
>
  <h1 class="heading-1">Scroll to Top</h1>
  <p class="paragraph">See <b>/scripts/custom.js</b> for required scripts.</p>

  <pre
    class="code-block code-snippet"><code class="html">&lt;!-- simple scroll to top button, see example on taller pages --&gt;
&lt;button id="scroll-to-top" class="scroll-to-top scroll-to-top_style-default"&gt;Scroll to Top&lt;/button&gt;
</code></pre>
</SiteLayout>
