---
import SiteLayout from "@layouts/SiteLayout.astro";
import { SITE_TITLE, SVG_PATH, SIDEBAR_SECTIONS } from "@/consts.ts";
---

<SiteLayout
  title={`Videos | ${SITE_TITLE}`}
  currentSection={SIDEBAR_SECTIONS.CONTENT}
>
  <h1 class="heading-1">Videos</h1>

  <div class="grid">
    <p class="column_6 paragraph">
      Videos can be served in several formats. HTML5 Video is handy in that it's
      repsonsive by default. Our usual way of serving vidoes in iframes (using
      an embed code), is not inherently responsive. Below are some examples and
      tips.
    </p>

    <div class="column_6 alert alert_info">
      <div class="alert__heading">Pro tip!</div>
      <p>
        Don't modify the properties of the iframe or wrapper directly. For
        custom padding, max-width, alignment, background-color, etc, use
        additional wrappers around the iframe-wrapper.
      </p>
    </div>
  </div>

  <section>
    <h2 class="heading-2">HTML5 Video</h2>

    <p class="paragraph">
      HTML5 Videos are thankfully responsive by default, but they have their
      quirks. Chrome (as of 2019) automatically includes a download button
      action. Be warned that controls in HTML5 video controls may have poor
      compatibility with jQuery sliders and other 3rd party libraries (as we
      found with the product media sliders in 2018). Just test thoroughly!
    </p>

    <div class="grid">
      <div class="column_6 video-frame">
        <video controls controlslist="nodownload">
          <source src="/video/pond.mp4" type="video/mp4" />
          Your browser does not support the video tag.
        </video>
      </div>

      <div class="column_6">
        <pre
          class="code-block code-snippet"><code class="html">&lt;video controls poster="&lt;image-link&gt;" controlsList="nodownload"&gt;
	&lt;source src="&lt;video-source&gt;" type="video/mp4"&gt;
	Your browser does not support the video tag.
&lt;/video&gt;
</code></pre>
        <div class="alert alert_caution top-spacing-1">
          <p class="paragraph">
            These notes on the state of HTML5 videoes are likely no longer
            releavant. Check maintained documentation elsewhere for the most
            up-to-date information.
          </p>
        </div>
      </div>
    </div>
  </section>
  <section>
    <h2 class="heading-2">Iframe Video</h2>
    <p class="paragraph">
      Iframe videos require a parent element with the class <b
        >.iframe-wrapper</b
      > aand class <b>.iframe</b> on the iframe itself.
    </p>

    <div class="grid">
      <div class="column_6 video-frame">
        <div class="iframe-wrapper">
          <iframe class="iframe" src="/video/pond.mp4"></iframe>
        </div>
      </div>
      <pre
        class="code-block column_6 code-snippet"><code class="html">&lt;div class="iframe-wrapper"&gt;
	&lt;iframe class="iframe" src="&lt;video-source&gt;"&gt;
	&lt;/iframe&gt;
&lt;/div&gt;
</code></pre>
    </div>
  </section>
  <div class="alert alert_info max-width-400 top-spacing-1">
    <h2 class="alert__heading">Video Credit</h2><p class="paragraph">
      Video by <a
        class="link link_style-default"
        href="https://www.pexels.com/video/a-pond-with-trees-and-water-in-the-background-27686381/"
        target="_blank"
      >
        AP Vibes from Pexels
        <span class="icon_inline">
          <svg
            class="icon icon_fill"
            role="img"
            aria-label="Open in a new window"
          >
            <use href={`${SVG_PATH}#icon-arrow-box`}></use>
          </svg>
        </span>
      </a>.
    </p>
  </div>
</SiteLayout>
