<header>
  <div class="banner">
    <p class="paragraph">
      This project was last updated in 2020 and is now deprecated. The css and
      sass techniques used, while still functional, are not representative of
      current best practices.
    </p>
  </div>
  <div class="imageDemo"></div>
  <div class="title">NitroCSS 2.1: Marshland</div>
</header>
