---
import { SVG_PATH, SIDEBAR_SECTIONS } from "../consts.ts";
import type { SidebarSection } from "../types";

interface Props {
  current: SidebarSection;
}

const { current } = Astro.props;

const introLinks = [
  { name: "File Structure", path: "/" },
  { name: "Changelog", path: "/changelog" },
  { name: "Quick Start Guide", path: "/quickstart" },
];

const layoutLinks = [
  { name: "Flex Layouts", path: "/flex" },
  { name: "Form Layouts", path: "/form-layouts" },
  { name: "Grid System", path: "/grid" },
  { name: "Spacing, Positioning & Dimensions", path: "/dimensions" },
];

const contentLinks = [
  { name: "Icons", path: "/icons" },
  { name: "Links", path: "/links" },
  { name: "Typography", path: "/typography" },
  { name: "Videos", path: "/videos" },
];

const componentLinks = [
  { name: "Alerts", path: "/alerts" },
  { name: "Buttons", path: "/buttons" },
  { name: "Form Fields", path: "/forms" },
  { name: "Lists", path: "/lists" },
  { name: "Progress Bars", path: "/progress" },
  { name: "Tables", path: "/tables" },
  { name: "Tabs", path: "/tabs" },
];

const featureLinks = [
  { name: "Accordions", path: "/features/accordions" },
  { name: "Date & Time Pickers", path: "/features/calendars" },
  { name: "Epicmodals", path: "/features/epicmodals" },
  { name: "Parsley.js", path: "/features/parsley" },
  { name: "Read More & Show Less", path: "/features/readmore" },
  { name: "Scrollable", path: "/features/scrollable" },
  { name: "Scroll to Top", path: "/features/scrolltotop" },
  { name: "Tablesorter", path: "/features/tablesorter" },
  { name: "Tooltips", path: "/features/tooltips" },
];

const sections = [
  { name: SIDEBAR_SECTIONS.INTRO, links: introLinks },
  { name: SIDEBAR_SECTIONS.LAYOUT, links: layoutLinks },
  { name: SIDEBAR_SECTIONS.CONTENT, links: contentLinks },
  { name: SIDEBAR_SECTIONS.COMPONENTS, links: componentLinks },
  { name: SIDEBAR_SECTIONS.FEATURES, links: featureLinks },
];
---

<nav class="sidebar">
  <div class="accordion accordion_style-basic accordion_color-theme">
    {
      sections.map((section) => (
        <div>
          <div class="accordion__label">
            {section.name}
            <svg
              class={`accordion__label-icon icon icon_fill
                ${section.name !== current && " icon_rotate180"}`}
              role="img"
              aria-label="Expand/Collapse list"
            >
              <use href={`${SVG_PATH}#icon-caret`} />
            </svg>
          </div>
          <ul
            class={`nav accordion__content ${section.name === current && " accordion__content--visible"}`}
          >
            {section.links.map((link) => (
              <li>
                <a class="link link_style-default" href={link.path}>
                  {link.name}
                </a>
              </li>
            ))}
          </ul>
        </div>
      ))
    }
  </div>
</nav>
