<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{ page_title|safe }}</title>
    <meta name="description" content="{{ page_description|safe }}" />
  </head>
  <body>
    <div class="container container--pattern">
      {% include "templates/_header.html" %}

      <div class="page-layout">
        <main class="main">
          {% block main %}
          {% endblock %}
        </main>

        {# {% include "partials/_sidebar.html" %} #}
      </div>

      {# {% include "partials/_footer.html" %} #}
    </div>
  </body>
</html>
