---
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
console.log("Site Layout");
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1.0,width=device-width" />

    <title>Nitro 2.0: Leerburg Styles Toolkit</title>

    <!-- CSS -->
    <!-- main stylesheet built from sass -->
    <!-- <link rel="stylesheet" href="/nitro-css/build/global.min.css?v=8" /> -->

    <!-- jQuery-ui styles -->
    <!-- <link rel="stylesheet" href="/js/jquery-ui/jquery-ui.min.css" /> -->

    <!-- date/time picker styles -->
    <!-- <link
      rel="stylesheet"
      href="/js/jquery-datetimepicker/jquery.datetimepicker.min.css?v=01"
    /> -->

    <!-- JS -->
    <!-- jQuery Library -->
    <!-- <script src="/js/jquery-3.2.1.min.js"></script> -->

    <!-- jQuery UI -->
    <!-- <script src="/js/jquery-ui/jquery-ui.min.js"></script> -->

    <!-- form validation -->
    <!-- <script src="/js/parsley.min.js"></script> -->

    <!-- jQuery DateTimePicker -->
    <!-- <script
      src="/js/jquery-datetimepicker/jquery.datetimepicker.full.min.js?v=05"
    ></script> -->

    <!-- jQuery Hover Intent -->
    <!-- <script src="/js/jquery.hoverIntent.minified.js"></script> -->

    <!-- for forcing IE to play nice and show external svgs linking -->
    <!-- <script src="/js/svg4everybody.min.js"></script> -->
    <!-- <script>
      svg4everybody();
    </script> -->

    <!-- Custom -->
    <!-- <script src="/js/custom.js?v=6"></script> -->
    <!-- <script src="/js/supermodals.js"></script> -->

    <!-- highlighting for code examples -->
    <!-- <link rel="stylesheet" href="/js/highlighter/sunburst.css" /> -->
    <!-- <script src="/js/highlighter/highlight.pack.js"></script> -->
    <!-- <script>
      hljs.initHighlightingOnLoad();
    </script> -->

    <!--?php
	// path for svgs (include before any files that use it)
	$SVG_PATH = "/img/core-icons.svg?v=06";
	$ICONIC_PATH = "/img/open-iconic-sprites.svg?v=01";
	?-->
  </head>

  <body>
    <Header />
    <slot />
    <Footer />
    <button
      type="button"
      id="scroll-to-top"
      class="scroll-to-top scroll-to-top_style-default">Scroll to Top</button
    >
  </body>
</html>
