---
import PublicImports from "@/components/PublicImports.astro";
import Header from "@components/Header.astro";
import Footer from "@components/Footer.astro";

import { SITE_TITLE, SITE_DESCRIPTION } from "../consts.ts";
const { title = SITE_TITLE, description = SITE_DESCRIPTION } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1.0,width=device-width" />

    <title>{title}</title>
    <meta name="description" content={description} />

    <PublicImports />

    <!--?php
	// path for svgs (include before any files that use it)
	$SVG_PATH = "/img/core-icons.svg";
	$ICONIC_PATH = "/img/open-iconic-sprites.svg";
	?-->
  </head>

  <body>
    <Header />
    <slot />
    <Footer />
    <button
      type="button"
      id="scroll-to-top"
      class="scroll-to-top scroll-to-top_style-default">Scroll to Top</button
    >
  </body>
</html>
